
header{

    text-align: center;
    background-repeat: no-repeat ;
    background-size: cover;
    background-image: url('/images/fundao2.png ') ;

}


body{

    margin: 0 auto;
    /* background-color: rgb(216, 219, 221);*/

}


.container-fluid{
    background-size: 2000px;
    max-width: 2000px;
    margin-top: 50px;
}

header img{
    width: 600px;
    height: auto;
    margin-bottom: 10px;

}

.redes-sociais {
    position: absolute;
    top: 20px;
    right: 40px;
    display: flex;
    gap: 50px;
}


.redes-sociais img {
    width: 55px;
    height: 55px;
    filter: brightness(0) invert(1);
    transition: transform 1s;
}

.redes-sociais img:hover {
    transform: scale(1.15);
}

.carousel{
    margin-top: 15PX;
    margin-bottom: 170px;
    width: auto;
}

.card img{
    border-radius: 0%;
    
}

.card p{
    text-align: center;
}


.card h5{
    text-align: center;
}

.card{
            border: none;
            border-radius: 16px;
            overflow: hidden;
            box-shadow: 0 10px 20px rgba(255, 255, 255, 0);
            transition: all 0.3s ease;
            height: 100%;
            background: linear-gradient(to bottom, #ffffff, #f5f9ff);
            max-width: 400px;
            margin-top: 50px;
            margin: auto;
            color: #fcfcfc;

}

 .card:hover {
            transform: translateY(-8px);
            box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
        }


         .card:hover .card-img-top {
            transform: scale(1.05);
        }

         .btn-primary:hover {
            transform: translateY(-3px);
            box-shadow: 0 6px 12px rgba(11, 11, 12, 0.4);
        }

        .card-hover-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(rgba(0, 4, 7, 0.192), rgba(0, 3, 8, 0.295));
            opacity: 0;
            transition: opacity 0.3s ease;
            pointer-events: none;
        }
        
        .card:hover .card-hover-overlay {
            opacity: 1;
        }


.text-cima p{
    text-align: center;
    margin-top: 50px;
    background-color: rgb(128, 128, 132);

}

.card-header{
     background-color: #0f2c3f;
}

footer {
   background-image: url('/images/fundao2.png ');
   color: #fff;
   text-align: center;
   padding: 30px 30px;


}

.produto ul{
    list-style: square;
    margin-top: 15px;
    padding-left: 20px;
}


.carousel-inner img{
    max-height:950px;
    width: auto;
    height: auto;

}

.card-mini{
    background-color: rgb(248, 248, 248);
    border-color: black;
    border-width: 1px;
    border-style: solid;
    margin-top: 10px;
    margin-bottom: 50px;


}
.card-mini p{
    text-align: center;
}


