/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    font-family: 'Arial', sans-serif;
    background-color: white;
    color: #333;
    margin: auto;
}

header {
    text-align: center;
    background-repeat: no-repeat ;
    background-size: cover;
    background-image: url('/images/fundao2.png ') ;

}

header .logo {

    align-items: center;
    gap: 10px;
}

header .logo img {
    width: 400px;
}

header .logo .slogan {
    font-size: 14px;
    color: #666;
}


.redes-sociais {
    position: absolute;
    top: 20px;
    right: 40px;
    display: flex;
    gap: 50px;
}


.redes-sociais img {
    width: 55px;
    height: 55px;
    filter: brightness(0) invert(1);
    transition: transform 1s;
}

.redes-sociais img:hover {
    transform: scale(1.15);
}

main {
    padding: 40px 80px;
}

.product-section {
    display: flex;
    gap: 50px;
    align-items: flex-start;
}

.gallery {
    flex: 1;
    margin-top: 50px;
}

.gallery h5{
    margin-bottom: 30px;
}


.gallery .main-image {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.thumbnail-row img {
    width: 150px; /* Ajuste conforme necessário */
    height: auto;
    margin: 5px;
    border-radius: 8px; /* opcional para bordas arredondadas */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.thumbnail-row img:hover {
    transform: scale(1.5); /* Aumenta 20% no hover */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* sombra para destacar */
    z-index: 10;
    position: relative; /* garante que a imagem fique acima */
}

.thumbnail-row img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: border-color 0.3s;
}

.thumbnail-row img:hover {
    border-color: #0077cc;
}

.main-image{
     display: flex;
}

.product-info {
    flex: 1;
}

.gallery ul{
    margin-left: 3%;
}

.gallery h5{
    text-align: center;
    font-size: 30px
}

.thumbnail-row{
    margin-left: 3%;

}

.product-info h1 {
    color: #222;
    margin-bottom: 15px;
    margin-left: 20px;

}

.product-info p {
    margin-bottom: 10px;
    line-height: 1.5;
}

.product-info {
    margin-top: 40px;
    border: 1px solid black;
    min-height: 400px;

}

.group-image {
   display: flex;
    width: 400px;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    border-radius: 10px;
    display: flex;

}

.group-image:hover {
    transform: scale(1.0); /* Zoom ao passar o mouse */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 10;

}

.product-info ul {
    list-style: square;
    margin-top: 15px;
    padding-left: 20px;
}

.product-info ul li {
    margin-bottom: 8px;
}

.gallery{
     border: 1px solid black
}


footer {
   background-image: url('/images/fundao2.png ');
   color: #fff;
   text-align: center;
   padding: 30px 30px;
   margin-top: 360px;

}

.img_center{
     display: flex;
    flex-direction: column; /* Coloca os elementos em coluna */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    text-align: center;

}
.btn_center{
    display: flex;
    flex-direction: column; /* Coloca os elementos em coluna */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    text-align: center;
}

.btn-whatsapp {
    background-color: #046628; /* Verde WhatsApp */
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
    margin-top: 20px; /* Espaço abaixo da imagem */
    text-transform: uppercase;
    display: inline-block;
}

.btn-whatsapp:hover {
    background-color: #068133;
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
